@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: #ededed;
  background-color: #050505; /* سیاه خالص */
  overflow-x: hidden;
}

/* اسکرول بار مدرن و باریک */
::-webkit-scrollbar {
  width: 6px;
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}

/* استایل کدها */
pre {
  direction: ltr;
  text-align: left;
  background: #0f0f0f !important; /* کمی روشن تر از پس زمینه */
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  padding: 0 !important;
  margin: 2rem 0;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.8);
}

pre > code {
  font-family: 'Fira Code', monospace !important;
  font-size: 0.95rem !important;
  line-height: 1.8 !important;
  padding: 1.5rem !important;
  display: block;
}

/* افکت شیشه‌ای واقعی (Vanilla Style) */
.glass {
  background: rgba(15, 15, 15, 0.6);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.glass:hover {
  border-color: rgba(34, 197, 94, 0.3);
  background: rgba(15, 15, 15, 0.8);
}