@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 5;
  --background-end-rgb: 10, 10, 10;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
}

/* استایل مخصوص اسکرول بار */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #22c55e;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #16a34a;
}

/* استایل برای نمایش کدها (Highlight.js Theme) */
pre {
  direction: ltr;
  background: #1a1a1a !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  padding: 1rem;
  overflow-x: auto;
  margin: 1.5rem 0;
}
code {
  font-family: 'Courier New', Courier, monospace;
  color: #4ade80; /* سبز نئونی */
}